* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.sec {
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div .fbox {
    position: relative;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
}

.f-value h2 {
    font-weight: bolder;
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
}

.login-input {
    position: relative;
    margin: 30px 0px;
    width: 310px;
    border-bottom: 2px solid rgb(0, 0, 0);

}

.login-input label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    font-size: 1em;
    pointer-events: none;
}

input:focus~label,
input:valid~label {
    top: 5px;
}

.login-input input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: rgb(255, 255, 255);
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.forget a {
    font-weight: 600;
    margin-right: 3px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.forget a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.register p a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.error-text {
    color: red;
}

.nav-link {
    font-weight: bold;
}