.account-statement {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .date-inputs {
    margin-top: 10px;
  }
  
  .date-input {
    margin: 0 10px;
  }
  
  .generate-button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
  }
  
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  
  .table-header {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .table-cell {
    border: 1px solid #ccc;
    padding: 8px;
  }